# OpenAI API Key
OPENAI_API_KEY=sk-proj-...

# MongoDB Atlas URI
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.xxxx.mongodb.net/creative_resizer?appName=Cluster0&connectTimeoutMS=10000&socketTimeoutMS=30000&serverSelectionTimeoutMS=10000

# RabbitMQ
RABBITMQ_HOST=192.168.x.x
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=your_username
RABBITMQ_PASSWORD=your_password
RABBITMQ_VHOST=your.vhost
